{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
    <h1>Listado de Clientes</h1>
    <br>
    <div class="row">
       <div class="col-md-5">
         <form class="" action="/guardarCliente/" method="post" enctype="multipart/form-data" id="frm_nuevo_cliente">
           {% csrf_token %}
            <b>Seleccione la Provincia:</b>
           <select class="form-control" name="id_pro" id="id_pro" required>
              <option value="">---SELECCIONE LA PROVINCIA---</option >
              {%  for provincia in provincias %}
              <option value="{{provincia.codigo_pro_al}}">{{provincia.nombre_pro_al}}</option>
              {% endfor %}
            </select>

           <br>
           <b>Cedula:</b>
           <input type="text" name="cedula_cli_al" value="" id="cedula_cli_al" placeholder="Ingrese la cedula" class="form-control" required><br>
           <b>Apellido:</b>
           <input type="text" name="apellido_cli_al" value="" id="apellido_cli_al" placeholder="Ingrese el apellido" class="form-control" required><br>
           <b>Nombre:</b>
           <input type="text" name="nombre_cli_al" value="" id="nombre_cli_al" placeholder="Ingrese el nombre" class="form-control" required>
           <br>
           <b>Direccion:</b>
           <input type="text" name="direccion_cli_al" value="" id="direccion_cli_al" placeholder="Ingrese la direccion" class="form-control" required>
           <br>


            <center>
              <button type="submit" name="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;</button>
              <button type="reset" name="button" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Cancelar&nbsp;&nbsp;&nbsp;</button>

            </center>


         </form>

       </div>
       <div class="col-md-7 text-center">
         <img src="{% static 'img/imag3.png' %}" alt=""  width="20%">
         <table class="table" id="tbl_clientes">
           <thead>
             <tr>
               <th>CODIGO</th>
               <th>CEDULA</th>
               <th>APELLIDO</th>
               <th>NOMBRE</th>
               <th>DIRECCION</th>
               <th>PROVINCIA</th>
               <th>ACCIONES</th>


             </tr>

           </thead>
           <tbody>
             {% for cliente in clientes %}
                <tr>
                  <td>{{cliente.codigo_cli_al}}</td>
                  <td>{{cliente.cedula_cli_al}}</td>
                  <td>{{cliente.apellido_cli_al}}</td>
                  <td>{{cliente.nombre_cli_al}}</td>
                  <td>{{cliente.direccion_cli_al}}</td>
                  <td>{{cliente.provincia.nombre_pro_al}}</td>





                  <td>
                        <a href="/editarCliente/{{cliente.codigo_cli_al}}" class="btn btn-warning">Editar</a>
                        <a href="javascript: void(0)" onclick="eliminarCliente('/eliminarCliente/{{cliente.codigo_cli_al}}');" class="btn btn-danger">Eliminar</a>
                  </td>
                </tr>
                {% endfor %}
           </tbody>

         </table>
       </div>
    </div>

    <script type="text/javascript">
        function eliminarCliente(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar el cliente seleccionado?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }
      </script>

      <script type="text/javascript">
        $("#frm_nuevo_cliente").validate({
          rules:{
            "id_pro":{
            required:true
           },
            "cedula_cli_al":{
              required:true,
              minlength:10,
              maxlength:10
            },
            "apellido_cli_al":{
              required:true
            },
            "nombre_cli_al":{
              required:true
            },
            "direccion_cli_al":{
              required:true
            }

          },
          messages:{
            "id_pro":{
            required:"Por favor seleccione la provincia"
           },
           "cedula_cli_al":{
             required:"Ingrese el numero de cedula ",
             minlength:"La cedula debe tener como minimo 10 caracteres",
             maxlength:"La cedula solo debe tener maximo 10 caracteres"
           },
           "apellido_cli_al":{
             required:"Ingrese el apellido "
           },
           "nombre_cli_al":{
             required:"Ingrese el nombre"
           },
           "direccion_cli_al":{
             required:"Ingrese la direccion"
            }

          },
        });
      </script>


      <script type="text/javascript">
         //let table = new DataTable('#tbl_clientes');
          $('#tbl_clientes').DataTable( {
              dom: 'Bfrtip',
              buttons: [
              {
                  extend: 'pdfHtml5',
                  messageTop: 'REPORTE DE PROVINCIAS - DJANGO Y DATATABLES.'
              },
              'print',
              'csv'
              ]
          } );
        </script>





    {% endblock %}
