{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
    <h1>Listado de Detalles</h1>
    <br>
    <div class="row">
       <div class="col-md-5">
         <form class="" action="/guardarDetalle/" method="post" enctype="multipart/form-data" id="frm_nuevo_detalle">
           {% csrf_token %}
           <b>Seleccione el Pedido:</b>
           <select class="form-control" name="id_ped" id="id_ped" required>
              <option value="">---SELECCIONE EL PEDIDO---</option >
              {%  for pedido in pedidos %}
              <option value="{{pedido.codigo_ped_al}}">{{pedido.nombre_ped_al}}</option>
              {% endfor %}
            </select>
            <br>
            <b>Seleccione el Platillo:</b>
            <select class="form-control" name="id_pla" id="id_pla" required>
               <option value="">---SELECCIONE EL PLATILLO---</option >
               {%  for platillo in platillos %}
               <option value="{{platillo.codigo_pla_al}}">{{platillo.nombre_pla_al}}</option>
               {% endfor %}
             </select>

           <br>
           <b>Fecha:</b>
           <input type="date" name="fecha_detalle_det_al" value="" id="fecha_detalle_det_al" placeholder="Ingrese la fecha" class="form-control" required><br>
           <b>Cantidad:</b>
           <input type="text" name="cantidad_det_al" value="" id="cantidad_det_al" placeholder="Ingrese la cantidad" class="form-control" required><br>
           <b>Descripcion:</b>
           <input type="text" name="descripcion_det_al" value="" id="descripcion_det_al" placeholder="Ingrese la descripcion" class="form-control" required>
           <br>
           <b>Total:</b>
           <input type="text" name="total_det_al" value="" id="total_det_al" placeholder="Ingrese el total" class="form-control" required>
           <br>


            <center>
              <button type="submit" name="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;</button>
              <button type="reset" name="button" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Cancelar&nbsp;&nbsp;&nbsp;</button>

            </center>


         </form>

       </div>
       <div class="col-md-7 text-center">
         <img src="{% static 'img/imag6.png' %}" alt=""  width="20%">
         <table class="table" id="tbl_detalles">
           <thead>
             <tr>
               <th>CODIGO</th>
               <th>FECHA</th>
               <th>CANTIDAD</th>
               <th>DESCRIPCION</th>
               <th>TOTAL</th>
               <th>PEDIDO</th>
               <th>PLATILLO</th>
               <th>ACCIONES</th>


             </tr>

           </thead>
           <tbody>
             {% for detalle in detalles %}
                <tr>
                  <td>{{detalle.codigo_det_al}}</td>
                  <td>{{detalle.fecha_detalle_det_al}}</td>
                  <td>{{detalle.cantidad_det_al}}</td>
                  <td>{{detalle.descripcion_det_al}}</td>
                  <td>{{detalle.total_det_al}}</td>
                  <td>{{detalle.pedido.nombre_ped_al}}</td>
                  <td>{{detalle.platillo.nombre_pla_al}}</td>






                  <td>
                        <a href="/editarDetalle/{{detalle.codigo_det_al}}" class="btn btn-warning">Editar</a>
                        <a href="javascript: void(0)" onclick="eliminarDetalle('/eliminarDetalle/{{detalle.codigo_det_al}}');" class="btn btn-danger">Eliminar</a>
                  </td>
                </tr>
                {% endfor %}
           </tbody>

         </table>
       </div>
    </div>

    <script type="text/javascript">
        function eliminarDetalle(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar el detalle seleccionado?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }
      </script>

      <script type="text/javascript">
        $("#frm_nuevo_detalle").validate({
          rules:{
            "id_ped":{
            required:true
           },
             "id_pla":{
             required:true
            },
            "fecha_detalle_det_al":{
              required:true
            },
            "cantidad_det_al":{
              required:true
            },
            "descripcion_det_al":{
              required:true
            },
            "total_det_al":{
              required:true
            }

          },
          messages:{
            "id_ped":{
            required:"Por favor seleccione el pedido"
           },
           "id_pla":{
           required:"Por favor seleccione el platillo"
          },
          "fecha_detalle_det_al":{
            required:"Ingrese la fecha"
          },
          "cantidad_det_al":{
            required:"Ingrese la cantidad"
          },
          "descripcion_det_al":{
            required:"Ingrese la descripcion"
          },
          "total_det_al":{
            required:"Ingrese el total"
            }

          },
        });
      </script>

      <script type="text/javascript">
       //let table = new DataTable('#tbl_clientes');
        $('#tbl_detalles').DataTable( {
            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'pdfHtml5',
                messageTop: 'REPORTE DE DETALLES - DJANGO Y DATATABLES.'
            },
            'print',
            'csv'
            ]
        } );
      </script>



    {% endblock %}
