{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionCliente/" method="post">
      {% csrf_token %}
      <b>Seleccione la Provincia:</b>
      <select class="form-control" name="id_pro" id="id_pro" required>
         <option value="">---SELECCIONE LA PROVINCIA---</option >
         {%  for provincia in provincias %}
         <option value="{{provincia.codigo_pro_al}}">{{provincia.nombre_pro_al}}</option>
         {% endfor %}
       </select>
       <script type="text/javascript">
        document.getElementById("id_pro").value="{{cliente.provincia.codigo_pro_al}}";

       </script>



      <input type="hidden" name="codigo_cli_al"  value="{{cliente.codigo_cli_al}}">
      <b>Cedula:</b>
      <input type="text" name="cedula_cli_al" value="{{cliente.cedula_cli_al}}" id="cedula_cli_al" placeholder="Ingrese la cedula" class="form-control" required><br>
      <b>Apellido:</b>
      <input type="text" name="apellido_cli_al" value="{{cliente.apellido_cli_al}}" id="apellido_cli_al" placeholder="Ingrese el apellido" class="form-control" required><br>
      <b>Nombre:</b>
      <input type="text" name="nombre_cli_al" value="{{cliente.nombre_cli_al}}" id="nombre_cli_al" placeholder="Ingrese el nombre" class="form-control" required>
      <br>
      <b>Direccion:</b>
      <input type="text" name="direccion_cli_al" value="{{cliente.direccion_cli_al}}" id="direccion_cli_al" placeholder="Ingrese la direccion" class="form-control" required>
      <br>

      <center>
        <button type="submit" name="button"
        class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Actualizar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
