{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionDetalle/" method="post">
      {% csrf_token %}
      <b>Seleccione el Pedido:</b>
      <select class="form-control" name="id_ped" id="id_ped" required>
         <option value="">---SELECCIONE EL PEDIDO---</option >
         {%  for pedido in pedidos %}
         <option value="{{pedido.codigo_ped_al}}">{{pedido.nombre_ped_al}}</option>
         {% endfor %}
       </select>
       <script type="text/javascript">
        document.getElementById("id_ped").value="{{detalle.pedido.codigo_ped_al}}";
       </script>
       <b>Seleccione el Platillo:</b>
       <select class="form-control" name="id_pla" id="id_pla" required>
          <option value="">---SELECCIONE EL PLATILLO---</option >
          {%  for platillo in platillos %}
          <option value="{{platillo.codigo_pla_al}}">{{platillo.nombre_pla_al}}</option>
          {% endfor %}
        </select>
        <script type="text/javascript">
         document.getElementById("id_pla").value="{{detalle.platillo.codigo_pla_al}}";
        </script>



      <input type="hidden" name="codigo_det_al"  value="{{detalle.codigo_det_al}}">
      <b>Fecha:</b>
      <input type="date" name="fecha_detalle_det_al" value="{{detalle.fecha_detalle_det_al|date:'Y-m-d'}}" id="fecha_detalle_det_al" placeholder="Ingrese la fecha" class="form-control" required><br>
      <b>Cantidad:</b>
      <input type="text" name="cantidad_det_al" value="{{detalle.cantidad_det_al}}" id="cantidad_det_al" placeholder="Ingrese la cantidad" class="form-control" required><br>
      <b>Descripcion:</b>
      <input type="text" name="descripcion_det_al" value="{{detalle.descripcion_det_al}}" id="descripcion_det_al" placeholder="Ingrese la descripcion" class="form-control" required>
      <br>
      <b>Total:</b>
      <input type="text" name="total_det_al" value="{{detalle.total_det_al}}" id="total_det_al" placeholder="Ingrese el total" class="form-control" required>
      <br>

      <center>
        <button type="submit" name="button"
        class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Actualizar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
