{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionTipo/" method="post">
      {% csrf_token %}



      <input type="hidden" name="codigo_tip_al"  value="{{tipo.codigo_tip_al}}">
      <b>Nombre:</b>
      <input type="text" name="nombre_tip_al" value="{{tipo.nombre_tip_al}}" id="nombre_tip_al" placeholder="Ingrese el nombre" class="form-control" required><br>
      <b>Descripcion:</b>
      <input type="text" name="descripcion_tip_al" value="{{tipo.descripcion_tip_al}}" id="descripcion_tip_al" placeholder="Ingrese la descripcion" class="form-control" required><br>
      <b>Categoria:</b>
      <input type="text" name="categoria_tip_al" value="{{tipo.categoria_tip_al}}" id="categoria_tip_al" placeholder="Ingrese la categoria" class="form-control" required><br>
      <br>
      <br>
      <center>
        <button type="submit" name="button"
        class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Actualizar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/tipo"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
