{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionPlatillo/" method="post">
      {% csrf_token %}
      <b>Seleccione el Tipo:</b>
      <select class="form-control" name="id_tip" id="id_tip" required>
         <option value="">---SELECCIONE EL TIPO---</option >
         {%  for tipo in tipos %}
         <option value="{{tipo.codigo_tip_al}}">{{tipo.nombre_tip_al}}</option>
         {% endfor %}
       </select>
       <script type="text/javascript">
        document.getElementById("id_tip").value="{{platillo.tipo.codigo_tip_al}}";

       </script>



      <input type="hidden" name="codigo_pla_al"  value="{{platillo.codigo_pla_al}}">
      <b>Nombre:</b>
      <input type="text" name="nombre_pla_al" value="{{platillo.nombre_pla_al}}" id="nombre_pla_al" placeholder="Ingrese el nombre" class="form-control" required><br>
      <b>Descripcion:</b>
      <input type="text" name="descripcion_pla_al" value="{{platillo.descripcion_pla_al}}" id="descripcion_pla_al" placeholder="Ingrese la descripcion" class="form-control" required><br>
      <b>Precio Platillo:</b>
      <input type="text" name="precio_pla_al" value="{{platillo.precio_pla_al}}" id="precio_pla_al" placeholder="Ingrese el precio de platillo" class="form-control" required>
      <br>
      <b>Disponibilidad:</b>
      <input type="text" name="disponibilidad_pla_al" value="{{platillo.disponibilidad_pla_al}}" id="disponibilidad_pla_al" placeholder="Ingrese la disponibilidad" class="form-control" required>
      <br>

      <center>
        <button type="submit" name="button"
        class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Actualizar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
