{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionPedido/" method="post">
      {% csrf_token %}
      <b>Seleccione el Cliente:</b>
      <select class="form-control" name="id_cli" id="id_cli" required>
         <option value="">---SELECCIONE EL CLIENTE---</option >
         {%  for cliente in clientes %}
         <option value="{{cliente.codigo_cli_al}}">{{cliente.nombre_cli_al}}</option>
         {% endfor %}
       </select>
       <script type="text/javascript">
        document.getElementById("id_cli").value="{{pedido.cliente.codigo_cli_al}}";

       </script>



      <input type="hidden" name="codigo_ped_al"  value="{{pedido.codigo_ped_al}}">
      <b>Nombre:</b>
      <input type="text" name="nombre_ped_al" value="{{pedido.nombre_ped_al}}" id="nombre_cli_al" placeholder="Ingrese el nombre" class="form-control" required><br>
      <b>Fecha Pedido:</b>
      <input type="date" name="fecha_pedido_ped_al" value="{{pedido.fecha_pedido_ped_al|date:'Y-m-d'}}" id="fecha_pedido_ped_al" placeholder="Ingrese la fecha de pedido" class="form-control" required><br>
      <b>Direccion:</b>
      <input type="text" name="direccion_ped_al" value="{{pedido.direccion_ped_al}}" id="direccion_ped_al" placeholder="Ingrese la direccion" class="form-control" required>
      <br>
      <b>Modo Pago:</b>
      <input type="text" name="modo_pago_ped_al" value="{{pedido.modo_pago_ped_al}}" id="modo_pago_ped_al" placeholder="Ingrese el modo de pago" class="form-control" required>
      <br>

      <center>
        <button type="submit" name="button"
        class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Actualizar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
