{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionIngrediente/" method="post">
      {% csrf_token %}



      <input type="hidden" name="codigo_ing_al"  value="{{ingrediente.codigo_ing_al}}">
      <b>Nombre:</b>
      <input type="text" name="nombre_ing_al" value="{{ingrediente.nombre_ing_al}}" id="nombre_ing_al" placeholder="Ingrese el nombre" class="form-control" required><br>
      <b>Categoria:</b>
      <input type="text" name="categoria_ing_al" value="{{ingrediente.categoria_ing_al}}" id="categoria_ing_al" placeholder="Ingrese la categoria" class="form-control" required><br>
      <b>Cantidad:</b>
      <input type="text" name="cantidad_ing_al" value="{{ingrediente.cantidad_ing_al}}" id="cantidad_ing_al" placeholder="Ingrese la cantidad" class="form-control" required><br>
      <br>
      <b>Fecha Caducidad:</b>
      <input type="date" name="fecha_caducidad_ing_al" value="{{ingrediente.fecha_caducidad_ing_al|date:'Y-m-d'}}" id="fecha_caducidad_ing_al" placeholder="Ingrese la fecha de caducidad" class="form-control" required><br>
      <br>
      <b>Fotografia de Ingrediente</b>
              <div class="custom-file">
                  <input type="file" name="imagen" accept="image/*" id="imagen" class="custom-file-input" onchange="updateFileName(this)">
              </div>
              {% if ingrediente.imagen %}
                  <img src="{{ ingrediente.imagen.url }}" alt="{{ ingrediente.imagen.name }}" height="60px">
              {% endif %}
      <br>
      <center>
        <button type="submit" name="button"
        class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Actualizar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
<script>
      function updateFileName(input) {
      var fileName = input.files.length > 0 ? input.files[0].name : 'Seleccionar archivo';
      var label = input.nextElementSibling;
      label.innerHTML = fileName;
    }
</script>
{% endblock %}
