{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionProvincia/" method="post">
      {% csrf_token %}



      <input type="hidden" name="codigo_pro_al"  value="{{provincia.codigo_pro_al}}">
      <b>Nombre:</b>
      <input type="text" name="nombre_pro_al" value="{{provincia.nombre_pro_al}}" id="nombre_pro_al" placeholder="Ingrese el nombre" class="form-control" required><br>
      <b>Capital:</b>
      <input type="text" name="capital_pro_al" value="{{provincia.capital_pro_al}}" id="capital_pro_al" placeholder="Ingrese la capital" class="form-control" required><br>
      <b>Poblacion:</b>
      <input type="text" name="poblacion_pro_al" value="{{provincia.poblacion_pro_al}}" id="poblacion_pro_al" placeholder="Ingrese la poblacion" class="form-control" required><br>
      <br>
      <b>Pais:</b>
      <input type="text" name="pais_pro_al" value="{{provincia.pais_pro_al}}" id="pais_pro_al" placeholder="Ingrese el pais" class="form-control" required><br>
      <br>
      <b>Fotografia de Provincia</b>
              <div class="custom-file">
                  <input type="file" name="fotografia" accept="image/*" id="fotografia" class="custom-file-input" onchange="updateFileName(this)">
              </div>
              {% if provincia.fotografia %}
                  <img src="{{ provincia.fotografia.url }}" alt="{{ provincia.fotografia.name }}" height="60px">
              {% endif %}
      <br>
      <center>
        <button type="submit" name="button"
        class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Actualizar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
