{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionReceta/" method="post">
      {% csrf_token %}
      <b>Seleccione el Platillo:</b>
      <select class="form-control" name="id_pla" id="id_pla" required>
         <option value="">---SELECCIONE EL PLATILLO---</option >
         {%  for platillo in platillos %}
         <option value="{{platillo.codigo_pla_al}}">{{platillo.nombre_pla_al}}</option>
         {% endfor %}
       </select>
       <script type="text/javascript">
        document.getElementById("id_pla").value="{{receta.platillo.codigo_pla_al}}";
       </script>
       <b>Seleccione el Ingrediente:</b>
       <select class="form-control" name="id_ing" id="id_ing" required>
          <option value="">---SELECCIONE EL INGREDIENTE---</option >
          {%  for ingrediente in ingredientes %}
          <option value="{{ingrediente.codigo_ing_al}}">{{ingrediente.nombre_ing_al}}</option>
          {% endfor %}
        </select>
        <script type="text/javascript">
         document.getElementById("id_ing").value="{{receta.ingrediente.codigo_ing_al}}";
        </script>



      <input type="hidden" name="codigo_rec_al"  value="{{receta.codigo_rec_al}}">
      <b>Nombre:</b>
      <input type="text" name="nombre_rec_al" value="{{receta.nombre_rec_al}}" id="nombre_rec_al" placeholder="Ingrese el nombre" class="form-control" required><br>
      <b>Descripcion:</b>
      <input type="text" name="descripcion_rec_al" value="{{receta.descripcion_rec_al}}" id="descripcion_rec_al" placeholder="Ingrese la descripcion" class="form-control" required>
      <br>
      <b>Tipo Preparacion:</b>
      <input type="text" name="tipo_preparacion_rec_al" value="{{receta.tipo_preparacion_rec_al}}" id="tipo_preparacion_rec_al" placeholder="Ingrese el total" class="form-control" required>
      <br>
      <b>Pasos:</b>
      <input type="text" name="pasos_rec_al" value="{{receta.pasos_rec_al}}" id="pasos_rec_al" placeholder="Ingrese el total" class="form-control" required>
      <br>

      <center>
        <button type="submit" name="button"
        class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Actualizar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
