{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
    <h1>Listado de Ingredientes</h1>
    <br>
    <div class="row">
       <div class="col-md-5">
         <form class="" action="/guardarIngrediente/" method="post" enctype="multipart/form-data" id="frm_nuevo_ingrediente">
           {% csrf_token %}


           <b>Nombre:</b>
           <input type="text" name="nombre_ing_al" value="" id="nombre_ing_al" placeholder="Ingrese el nombre" class="form-control" required><br>
           <b>Categoria:</b>
           <input type="text" name="categoria_ing_al" value="" id="categoria_ing_al" placeholder="Ingrese la categoria" class="form-control" required><br>
           <b>Cantidad:</b>
           <input type="text" name="cantidad_ing_al" value="" id="cantidad_ing_al" placeholder="Ingrese la cantidad" class="form-control" required>
           <br>
           <b>Fecha Caducidad:</b>
           <input type="date" name="fecha_caducidad_ing_al" value="" id="fecha_caducidad_ing_al" placeholder="Ingrese la fecha de caducidad" class="form-control" required>
           <br>
           <b>Fotografia</b>
           <input type="file" name="imagen" accept="image/*" id="imagen" value="" class="form-control" >
           <br>

            <center>
              <button type="submit" name="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;</button>
              <button type="reset" name="button" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Cancelar&nbsp;&nbsp;&nbsp;</button>

            </center>


         </form>

       </div>
       <div class="col-md-7 text-center">
         <img src="{% static 'img/imag2.png' %}" alt=""  width="20%">
         <table class="table" id="tbl_ingredientes">
           <thead>
             <tr>
               <th>CODIGO</th>
               <th>NOMBRE</th>
               <th>CATEGORIA</th>
               <th>CANTIDAD</th>
               <th>FECHA CADUCIDAD</th>
               <th>FOTOGRAFIA</th>


               <th>ACCIONES</th>
             </tr>

           </thead>
           <tbody>
             {% for ingrediente in ingredientes %}
                <tr>
                  <td>{{ingrediente.codigo_ing_al}}</td>
                  <td>{{ingrediente.nombre_ing_al}}</td>
                  <td>{{ingrediente.categoria_ing_al}}</td>
                  <td>{{ingrediente.cantidad_ing_al}}</td>
                  <td>{{ingrediente.fecha_caducidad_ing_al}}</td>


                  <td>
                    {% if ingrediente.imagen %}
                    <a href="{{ingrediente.imagen.url}}" target="_blank"><img src="{{ingrediente.imagen.url}}" alt="" height="50px">
                    {% else %}</a>

                    <b>N A</b>
                    {% endif %}
                  </td>


                  <td>
                        <a href="/editarIngrediente/{{ingrediente.codigo_ing_al}}" class="btn btn-warning">Editar</a>
                        <a href="javascript: void(0)" onclick="eliminarIngrediente('/eliminarIngrediente/{{ingrediente.codigo_ing_al}}');" class="btn btn-danger">Eliminar</a>
                  </td>
                </tr>
                {% endfor %}
           </tbody>

         </table>
       </div>
    </div>

    <script type="text/javascript">
        function eliminarIngrediente(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar el ingrediente seleccionado?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }
      </script>

      <script type="text/javascript">
        $("#frm_nuevo_ingrediente").validate({
          rules:{
            "nombre_ing_al":{
              required:true
            },
            "categoria_ing_al":{
              required:true
            },
            "cantidad_ing_al":{
              required:true
            },
            "fecha_caducidad_ing_al":{
              required:true
            },
            "imagen":{
              required:true
            }

          },
          messages:{
            "nombre_ing_al":{
              required:"Ingrese el nombre"
            },
            "categoria_ing_al":{
              required:"Ingrese la categoria"
            },
            "cantidad_ing_al":{
              required:"Ingrese la cantidad"
            },
            "fecha_caducidad_ing_al":{
              required:"Ingrese la fecha de caducidad"
            },
            "imagen":{
              required:"Ingrese la imagen"
            }

          },
        });
      </script>

      <script type="text/javascript">
       //let table = new DataTable('#tbl_clientes');
        $('#tbl_ingredientes').DataTable( {
            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'pdfHtml5',
                messageTop: 'REPORTE DE INGREDIENTES - DJANGO Y DATATABLES.'
            },
            'print',
            'csv'
            ]
        } );
      </script>



    {% endblock %}
