{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
    <h1>Listado de Pedidos</h1>
    <br>
    <div class="row">
       <div class="col-md-5">
         <form class="" action="/guardarPedido/" method="post" enctype="multipart/form-data" id="frm_nuevo_pedido">
           {% csrf_token %}
            <b>Seleccione el Cliente:</b>
           <select class="form-control" name="id_cli" id="id_cli" required>
              <option value="">---SELECCIONE EL CLIENTE---</option >
              {%  for cliente in clientes %}
              <option value="{{cliente.codigo_cli_al}}">{{cliente.nombre_cli_al}}</option>
              {% endfor %}
            </select>

           <br>
           <b>Nombre:</b>
           <input type="text" name="nombre_ped_al" value="" id="nombre_cli_al" placeholder="Ingrese el nombre" class="form-control" required><br>
           <b>Fecha Pedido:</b>
           <input type="date" name="fecha_pedido_ped_al" value="" id="fecha_pedido_ped_al" placeholder="Ingrese la fecha de pedido" class="form-control" required><br>
           <b>Direccion:</b>
           <input type="text" name="direccion_ped_al" value="" id="direccion_ped_al" placeholder="Ingrese la direccion" class="form-control" required>
           <br>
           <b>Modo Pago:</b>
           <input type="text" name="modo_pago_ped_al" value="" id="modo_pago_ped_al" placeholder="Ingrese el modo de pago" class="form-control" required>
           <br>


            <center>
              <button type="submit" name="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;</button>
              <button type="reset" name="button" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Cancelar&nbsp;&nbsp;&nbsp;</button>

            </center>


         </form>

       </div>
       <div class="col-md-7 text-center">
         <img src="{% static 'img/imag4.png' %}" alt=""  width="20%">
         <table class="table" id="tbl_pedidos">
           <thead>
             <tr>
               <th>CODIGO</th>
               <th>NOMBRE</th>
               <th>FECHA PEDIDO</th>
               <th>DIRECCION</th>
               <th>MODO DE PAGO</th>
               <th>CLIENTE</th>
               <th>ACCIONES</th>


             </tr>

           </thead>
           <tbody>
             {% for pedido in pedidos %}
                <tr>
                  <td>{{pedido.codigo_ped_al}}</td>
                  <td>{{pedido.nombre_ped_al}}</td>
                  <td>{{pedido.fecha_pedido_ped_al}}</td>
                  <td>{{pedido.direccion_ped_al}}</td>
                  <td>{{pedido.modo_pago_ped_al}}</td>
                  <td>{{pedido.cliente.nombre_cli_al}}</td>





                  <td>
                        <a href="/editarPedido/{{pedido.codigo_ped_al}}" class="btn btn-warning">Editar</a>
                        <a href="javascript: void(0)" onclick="eliminarPedido('/eliminarPedido/{{pedido.codigo_ped_al}}');" class="btn btn-danger">Eliminar</a>
                  </td>
                </tr>
                {% endfor %}
           </tbody>

         </table>
       </div>
    </div>

    <script type="text/javascript">
        function eliminarPedido(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar el pedido seleccionado?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }
      </script>

      <script type="text/javascript">
        $("#frm_nuevo_pedido").validate({
          rules:{
            "id_cli":{
            required:true
           },
            "nombre_ped_al":{
              required:true
            },
            "fecha_pedido_ped_al":{
              required:true
            },
            "direccion_ped_al":{
              required:true
            },
            "modo_pago_ped_al":{
              required:true
            }

          },
          messages:{
            "id_cli":{
            required:"Por favor seleccione el cliente"
           },
           "nombre_ped_al":{
             required:"Ingrese el nombre"
           },
           "fecha_pedido_ped_al":{
             required:"Ingrese la fecha "
           },
           "direccion_ped_al":{
             required:"Ingrese la direccion"
           },
           "modo_pago_ped_al":{
             required:"Ingrese el modo de pago"
            }

          },
        });
      </script>

      <script type="text/javascript">
       //let table = new DataTable('#tbl_clientes');
        $('#tbl_pedidos').DataTable( {
            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'pdfHtml5',
                messageTop: 'REPORTE DE PEDIDOS - DJANGO Y DATATABLES.'
            },
            'print',
            'csv'
            ]
        } );
      </script>



    {% endblock %}
