{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!--importacion de jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/principal.css' %}">
    <!--importacion de jquery Validate-->
    <script type="text/javascript" src="{% static 'librerias/jquery-validate/jquery.validate.js' %}">
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
    <!-- Importacion de DataTables -->
     <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
     <script type="text/javascript" src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js">
     </script>
     <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js">
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js">
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js">
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js">
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js">
    </script>


  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
     <div class="container-fluid">
       <img src="{% static 'img/logo1.jpg' %}" alt=""  width="3%"><br>
       <br>
    <a class="navbar-brand" href="/">RestauranteAL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if navbar == 'provincia' %} active {% endif %}" href="{% url 'provincia' %}">Provincia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if navbar == 'tipo' %} active {% endif %}" href="{% url 'tipo' %}">Tipo</a>
       </li>
       <li class="nav-item">
         <a class="nav-link {% if navbar == 'ingrediente' %} active {% endif %}" href="{% url 'ingrediente' %}">Ingrediente</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if navbar == 'cliente' %} active {% endif %}" href="{% url 'cliente' %}">Cliente</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if navbar == 'pedido' %} active {% endif %}" href="{% url 'pedido' %}">Pedido</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if navbar == 'platillo' %} active {% endif %}" href="{% url 'platillo' %}">Platillo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if navbar == 'detalle' %} active {% endif %}" href="{% url 'detalle' %}">Detalle</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if navbar == 'receta' %} active {% endif %}" href="{% url 'receta' %}">Receta</a>
      </li>


      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
    {% block contenido %}
    {% endblock %}
  </div>
  <br> <br> <br>
<div class="row" style="background-color: #37c9de ; color:white; padding:25px;">

  <div class="col-md-3 text-center">
    <h3>
      <b>Servicios</b>
    </h3>
    Servicio de Entrega Domicilio <br>
    Servicio de Reservas <br>
    Servicio Menus Especiales <br>
  </div>
  <div class="col-md-4 text-center">
    <h3>
      <b>Contactos</b>
    </h3>
    Telefono: 2345673 <br>
    Celular: 09876534278<br>
    Facebook: RestauranteAL<br>

  </div>
  <div class="col-md-5 text-center">
    <h3>
      <b>Horarios de Atencion</b>
    </h3>
    Lunes-Viernes: 8:00 a.m - 20:00 p.m <br>
    Sabados-Domingos: 9:00 a.m - 19:00 p.m <br>
  </div>



</div>

    {% if messages %}
            {% for mensaje in messages %}
            <script type="text/javascript">
                    iziToast.success({
                        title: 'OK',
                        message: '{{mensaje}}',
                        position: 'topRight'
  });

              </script>
                {% endfor %}
        {% endif %}




  </body>
</html>
