{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
    <h1>Listado de Platillos</h1>
    <br>
    <div class="row">
       <div class="col-md-5">
         <form class="" action="/guardarPlatillo/" method="post" enctype="multipart/form-data" id="frm_nuevo_platillo">
           {% csrf_token %}
            <b>Seleccione el Tipo:</b>
           <select class="form-control" name="id_tip" id="id_tip" required>
              <option value="">---SELECCIONE EL TIPO---</option >
              {%  for tipo in tipos %}
              <option value="{{tipo.codigo_tip_al}}">{{tipo.nombre_tip_al}}</option>
              {% endfor %}
            </select>

            <br>
           <b>Nombre:</b>
           <input type="text" name="nombre_pla_al" value="" id="nombre_pla_al" placeholder="Ingrese el nombre" class="form-control" required><br>
           <b>Descripcion:</b>
           <input type="text" name="descripcion_pla_al" value="" id="descripcion_pla_al" placeholder="Ingrese la descripcion" class="form-control" required><br>
           <b>Precio Platillo:</b>
           <input type="text" name="precio_pla_al" value="" id="precio_pla_al" placeholder="Ingrese el precio de platillo" class="form-control" required>
           <br>
           <b>Disponibilidad:</b>
           <input type="text" name="disponibilidad_pla_al" value="" id="disponibilidad_pla_al" placeholder="Ingrese la disponibilidad" class="form-control" required>
           <br>


            <center>
              <button type="submit" name="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;</button>
              <button type="reset" name="button" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Cancelar&nbsp;&nbsp;&nbsp;</button>

            </center>


         </form>

       </div>
       <div class="col-md-7 text-center">
         <img src="{% static 'img/imag5.png' %}" alt=""  width="20%">
         <table class="table" id="tbl_platillos">
           <thead>
             <tr>
               <th>CODIGO</th>
               <th>NOMBRE</th>
               <th>DESCRIPCION</th>
               <th>PRECIO PLATILLO</th>
               <th>DISPONIBILIDAD</th>
               <th>TIPO</th>
               <th>ACCIONES</th>



             </tr>

           </thead>
           <tbody>
             {% for platillo in platillos %}
                <tr>
                  <td>{{platillo.codigo_pla_al}}</td>
                  <td>{{platillo.nombre_pla_al}}</td>
                  <td>{{platillo.descripcion_pla_al}}</td>
                  <td>{{platillo.precio_pla_al}}</td>
                  <td>{{platillo.disponibilidad_pla_al}}</td>
                  <td>{{platillo.tipo.nombre_tip_al}}</td>





                  <td>
                        <a href="/editarPlatillo/{{platillo.codigo_pla_al}}" class="btn btn-warning">Editar</a>
                        <a href="javascript: void(0)" onclick="eliminarPlatillo('/eliminarPlatillo/{{platillo.codigo_pla_al}}');" class="btn btn-danger">Eliminar</a>
                  </td>
                </tr>
                {% endfor %}
           </tbody>

         </table>
       </div>
    </div>

    <script type="text/javascript">
        function eliminarPlatillo(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar el platillo seleccionado?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }
      </script>

      <script type="text/javascript">
        $("#frm_nuevo_platillo").validate({
          rules:{
            "id_tip":{
            required:true
           },
            "nombre_pla_al":{
              required:true
            },
            "descripcion_pla_al":{
              required:true
            },
            "precio_pla_al":{
              required:true
            },
            "disponibilidad_pla_al":{
              required:true
            }

          },
          messages:{
            "id_tip":{
            required:"Por favor seleccione el tipo"
           },
           "nombre_pla_al":{
             required:"Ingrese el nombre"
           },
           "descripcion_pla_al":{
             required:"Ingrese la descripcion"
           },
           "precio_pla_al":{
             required:"Ingrese el precio"
           },
           "disponibilidad_pla_al":{
             required:"Ingrese la disponibilidad"
            }

          },
        });
      </script>


      <script type="text/javascript">
       //let table = new DataTable('#tbl_clientes');
        $('#tbl_platillos').DataTable( {
            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'pdfHtml5',
                messageTop: 'REPORTE DE PLATILLOS - DJANGO Y DATATABLES.'
            },
            'print',
            'csv'
            ]
        } );
      </script>



    {% endblock %}
