{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
    <h1>Listado de Provincias</h1>
    <br>
    <div class="row">
       <div class="col-md-5">
         <form class="" action="/guardarProvincia/" method="post" enctype="multipart/form-data" id="frm_nuevo_provincia">
           {% csrf_token %}


           <b>Nombre:</b>
           <input type="text" name="nombre_pro_al" value="" id="nombre_pro_al" placeholder="Ingrese el nombre" class="form-control" required><br>
           <b>Capital:</b>
           <input type="text" name="capital_pro_al" value="" id="capital_pro_al" placeholder="Ingrese la capital" class="form-control" required><br>
           <b>Poblacion:</b>
           <input type="text" name="poblacion_pro_al" value="" id="poblacion_pro_al" placeholder="Ingrese la poblacion" class="form-control" required><br>
           <br>
           <b>Pais:</b>
           <input type="text" name="pais_pro_al" value="" id="pais_pro_al" placeholder="Ingrese el pais" class="form-control" required><br>
           <br>
           <b>Fotografia</b>
           <input type="file" name="fotografia" accept="image/*" id="fotografia" value="" class="form-control" >
           <br>

            <center>
              <button type="submit" name="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;</button>
              <button type="reset" name="button" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Cancelar&nbsp;&nbsp;&nbsp;</button>

            </center>


         </form>

       </div>
       <div class="col-md-7 text-center">
         <img src="{% static 'img/prov1.jpg' %}" alt=""  width="20%">
         <table class="table" id="tbl_provincias">
           <thead>
             <tr>
               <th>CODIGO</th>
               <th>Nombre</th>
               <th>CAPITAL</th>
               <th>POBLACION</th>
               <th>PAIS</th>
               <th>FOTOGRAFIA</th>


               <th>ACCIONES</th>
             </tr>

           </thead>
           <tbody>
             {% for provincia in provincias %}
                <tr>
                  <td>{{provincia.codigo_pro_al}}</td>
                  <td>{{provincia.nombre_pro_al}}</td>
                  <td>{{provincia.capital_pro_al}}</td>
                  <td>{{provincia.poblacion_pro_al}}</td>
                  <td>{{provincia.pais_pro_al}}</td>


                  <td>
                    {% if provincia.fotografia %}
                    <a href="{{provincia.fotografia.url}}" target="_blank"><img src="{{provincia.fotografia.url}}" alt="" height="50px">
                    {% else %}</a>

                    <b>N A</b>
                    {% endif %}
                  </td>


                  <td>
                        <a href="/editarProvincia/{{provincia.codigo_pro_al}}" class="btn btn-warning">Editar</a>
                        <a href="javascript: void(0)" onclick="eliminarProvincia('/eliminarProvincia/{{provincia.codigo_pro_al}}');" class="btn btn-danger">Eliminar</a>
                  </td>
                </tr>
                {% endfor %}
           </tbody>

         </table>
       </div>
    </div>

    <script type="text/javascript">
        function eliminarProvincia(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar la provincia seleccionado?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }
      </script>

      <script type="text/javascript">
        $("#frm_nuevo_provincia").validate({
          rules:{
            "nombre_pro_al":{
              required:true
            },
            "capital_pro_al":{
              required:true
            },
            "poblacion_pro_al":{
              required:true
            },
            "pais_pro_al":{
              required:true
            },
            "fotografia":{
              required:true
            }

          },
          messages:{
            "nombre_pro_al":{
              required:"Ingrese el nombre de provincia"
            },
            "capital_pro_al":{
              required:"Ingrese la capital de provincia"
            },
            "poblacion_pro_al":{
              required:"Ingrese la poblacion"
            },
            "pais_pro_al":{
              required:"Ingrese el pais"
            },
            "fotografia":{
              required:"Ingrese la fotografia"
            }

          },
        });
      </script>


      <script type="text/javascript">
         //let table = new DataTable('#tbl_clientes');
          $('#tbl_provincias').DataTable( {
              dom: 'Bfrtip',
              buttons: [
              {
                  extend: 'pdfHtml5',
                  messageTop: 'REPORTE DE PROVINCIAS - DJANGO Y DATATABLES.'
              },
              'print',
              'csv'
              ]
          } );
        </script>



    {% endblock %}
