{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
    <h1>Listado de Recetas</h1>
    <br>
    <div class="row">
       <div class="col-md-5">
         <form class="" action="/guardarReceta/" method="post" enctype="multipart/form-data" id="frm_nuevo_receta">
           {% csrf_token %}
           <b>Seleccione el Platillo:</b>
           <select class="form-control" name="id_pla" id="id_pla" required>
              <option value="">---SELECCIONE EL PLATILLO---</option >
              {%  for platillo in platillos %}
              <option value="{{platillo.codigo_pla_al}}">{{platillo.nombre_pla_al}}</option>
              {% endfor %}
            </select>
            <br>
            <b>Seleccione el Ingrediente:</b>
            <select class="form-control" name="id_ing" id="id_ing" required>
               <option value="">---SELECCIONE EL INGREDIENTE---</option >
               {%  for ingrediente in ingredientes %}
               <option value="{{ingrediente.codigo_ing_al}}">{{ingrediente.nombre_ing_al}}</option>
               {% endfor %}
             </select>

            <br>
           <b>Nombre:</b>
           <input type="text" name="nombre_rec_al" value="" id="nombre_rec_al" placeholder="Ingrese el nombre" class="form-control" required><br>
           <b>Descripcion:</b>
           <input type="text" name="descripcion_rec_al" value="" id="descripcion_rec_al" placeholder="Ingrese la descripcion" class="form-control" required>
           <br>
           <b>Tipo Preparacion:</b>
           <input type="text" name="tipo_preparacion_rec_al" value="" id="tipo_preparacion_rec_al" placeholder="Ingrese el total" class="form-control" required>
           <br>
           <b>Pasos:</b>
           <input type="text" name="pasos_rec_al" value="" id="pasos_rec_al" placeholder="Ingrese el total" class="form-control" required>
           <br>



            <center>
              <button type="submit" name="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;</button>
              <button type="reset" name="button" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Cancelar&nbsp;&nbsp;&nbsp;</button>

            </center>


         </form>

       </div>
       <div class="col-md-7 text-center">
         <img src="{% static 'img/imag7.png' %}" alt=""  width="20%">
         <table class="table" id="tbl_recetas">
           <thead>
             <tr>
               <th>CODIGO</th>
               <th>NOMBRE</th>
               <th>DESCRIPCION</th>
               <th>TIPO PREPARACION</th>
               <th>PASOS</th>
               <th>PLATILLO</th>
               <th>INGREDIENTE</th>
               <th>ACCIONES</th>


             </tr>

           </thead>
           <tbody>
             {% for receta in recetas %}
                <tr>
                  <td>{{receta.codigo_rec_al}}</td>
                  <td>{{receta.nombre_rec_al}}</td>
                  <td>{{receta.descripcion_rec_al}}</td>
                  <td>{{receta.tipo_preparacion_rec_al}}</td>
                  <td>{{receta.pasos_rec_al}}</td>
                  <td>{{receta.platillo.nombre_pla_al}}</td>
                  <td>{{receta.ingrediente.nombre_ing_al}}</td>







                  <td>
                        <a href="/editarReceta/{{receta.codigo_rec_al}}" class="btn btn-warning">Editar</a>
                        <a href="javascript: void(0)" onclick="eliminarReceta('/eliminarReceta/{{receta.codigo_rec_al}}');" class="btn btn-danger">Eliminar</a>
                  </td>
                </tr>
                {% endfor %}
           </tbody>

         </table>
       </div>
    </div>

    <script type="text/javascript">
        function eliminarReceta(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar la receta seleccionado?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }
      </script>

      <script type="text/javascript">
        $("#frm_nuevo_receta").validate({
          rules:{
            "id_pla":{
            required:true
           },
             "id_ing":{
             required:true
            },
            "nombre_rec_al":{
              required:true
            },
            "descripcion_rec_al":{
              required:true
            },
            "tipo_preparacion_rec_al":{
              required:true
            },
            "pasos_rec_al":{
              required:true
            }

          },
          messages:{
            "id_pla":{
            required:"Por favor seleccione el platillo"
           },
           "id_ing":{
           required:"Por favor seleccione el ingrediente"
          },
          "nombre_rec_al":{
            required:"Ingrese el nombre"
          },
          "descripcion_rec_al":{
            required:"Ingrese la descripcion"
          },
          "tipo_preparacion_rec_al":{
            required:"Ingrese el tipo de preparacion"
          },
          "pasos_rec_al":{
            required:"Ingrese los pasos"
            }

          },
        });
      </script>

      <script type="text/javascript">
       //let table = new DataTable('#tbl_clientes');
        $('#tbl_recetas').DataTable( {
            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'pdfHtml5',
                messageTop: 'REPORTE DE RECETAS - DJANGO Y DATATABLES.'
            },
            'print',
            'csv'
            ]
        } );
      </script>



    {% endblock %}
