{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
    <h1>Listado de Tipos</h1>
    <br>
    <div class="row">
       <div class="col-md-5">
         <form class="" action="/guardarTipo/" method="post" enctype="multipart/form-data" id="frm_nuevo_tipo">
           {% csrf_token %}


           <b>Nombre:</b>
           <input type="text" name="nombre_tip_al" value="" id="nombre_tip_al" placeholder="Ingrese el nombre" class="form-control" required><br>
           <b>Descripcion:</b>
           <input type="text" name="descripcion_tip_al" value="" id="descripcion_tip_al" placeholder="Ingrese la descripcion" class="form-control" required><br>
           <b>Categoria:</b>
           <input type="text" name="categoria_tip_al" value="" id="categoria_tip_al" placeholder="Ingrese la categoria" class="form-control" required><br>
           <br>



            <center>
              <button type="submit" name="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;</button>
              <button type="reset" name="button" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Cancelar&nbsp;&nbsp;&nbsp;</button>

            </center>


         </form>

       </div>
       <div class="col-md-7 text-center">
         <img src="{% static 'img/' %}" alt=""  width="20%">
         <table class="table" id="tbl_tipos">
           <thead>
             <tr>
               <th>CODIGO</th>
               <th>NOMBRE</th>
               <th>DESCRIPCION</th>
               <th>CATEGORIA</th>



               <th>ACCIONES</th>
             </tr>

           </thead>
           <tbody>
             {% for tipo in tipos %}
                <tr>
                  <td>{{tipo.codigo_tip_al}}</td>
                  <td>{{tipo.nombre_tip_al}}</td>
                  <td>{{tipo.descripcion_tip_al}}</td>
                  <td>{{tipo.categoria_tip_al}}</td>







                  <td>
                        <a href="/editarTipo/{{tipo.codigo_tip_al}}" class="btn btn-warning">Editar</a>
                        <a href="javascript: void(0)" onclick="eliminarTipo('/eliminarTipo/{{tipo.codigo_tip_al}}');" class="btn btn-danger">Eliminar</a>
                  </td>
                </tr>
                {% endfor %}
           </tbody>

         </table>
       </div>
    </div>

    <script type="text/javascript">
        function eliminarTipo(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar el tipo seleccionado?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }

      </script>

      <script type="text/javascript">
        $("#frm_nuevo_tipo").validate({
          rules:{
            "nombre_tip_al":{
              required:true
            },
            "descripcion_tip_al":{
              required:true
            },
            "categoria_tip_al":{
              required:true
            }

          },
          messages:{
            "nombre_tip_al":{
              required:"Ingrese el nombre"
            },
            "descripcion_tip_al":{
              required:"Ingrese la descripcion"
            },
            "categoria_tip_al":{
              required:"Ingrese la categoria"
            }
          },
        });
      </script>

      <script type="text/javascript">
       //let table = new DataTable('#tbl_clientes');
        $('#tbl_tipos').DataTable( {
            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'pdfHtml5',
                messageTop: 'REPORTE DE TIPOS - DJANGO Y DATATABLES.'
            },
            'print',
            'csv'
            ]
        } );
      </script>



    {% endblock %}
